{%- comment -%}
  Renders a price block for a product or variant.
  Accepts: product (object)
{%- endcomment -%}
{%- liquid
  assign target = product.selected_or_first_available_variant | default: product
  assign compare_at_price = target.compare_at_price
  assign price = target.price
-%}
<div class="price {% if compare_at_price > price %}price--on-sale{% endif %}">
  {%- if compare_at_price > price -%}
    <span class="price__compare">{{ compare_at_price | money }}</span>
    <span class="price__sale">{{ price | money }}</span>
  {%- else -%}
    <span class="price__regular">{{ price | money }}</span>
  {%- endif -%}
</div>
