{%- if cart.item_count > 0 -%}
<section class="cart-footer page-width">
  <div class="cart-footer__subtotal">
    <span>{{ 'general.cart.subtotal' | t }}</span>
    <span>{{ cart.total_price | money }}</span>
  </div>
  <button type="submit" form="CartPageForm" name="checkout" class="button button--primary">{{ 'general.cart.checkout' | t }}</button>
  {%- if additional_checkout_buttons -%}
    <div class="cart-footer__dynamic">{{ content_for_additional_checkout_buttons }}</div>
  {%- endif -%}
</section>
{%- endif -%}

{% schema %}
{
  "name": "Cart footer",
  "enabled_on": {
    "templates": ["cart"]
  },
  "settings": []
}
{% endschema %}
