{%- liquid
  assign sorted_collections = collections | sort: 'published_at' | reverse
-%}
<section class="collection-list">
  <div class="collection-list__grid">
    {%- for collection in sorted_collections -%}
      {%- render 'collection-card', collection: collection -%}
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Collection list page",
  "enabled_on": {
    "templates": ["list-collections"]
  },
  "settings": []
}
{% endschema %}
