<section class="password-form page-width">
  {% form 'storefront_password' %}
    {%- if form.errors -%}
      <p class="password-form__error">{{ form.errors.messages.form }}</p>
    {%- endif -%}
    <label for="Password">{{ 'general.password_page.enter_password' | t }}</label>
    <div class="password-form__row">
      <input type="password" name="password" id="Password" autocomplete="current-password">
      <button type="submit">{{ 'general.password_page.submit' | t }}</button>
    </div>
  {% endform %}
</section>

{% schema %}
{
  "name": "Password form",
  "enabled_on": {
    "templates": ["password"]
  },
  "settings": []
}
{% endschema %}
